<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--配置数据库JDBC驱动-->
        <property name="hibernate.connection.url">
            jdbc:mysql://192.168.102.254:3306/simple
        </property>
        <!--配置数据库连接URL-->
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>
        <!--配置数据库用户名-->
        <property name="hibernate.connection.username">
            root
        </property>
        <!--配置数据库密码-->
        <property name="hibernate.connection.password">
            123456
        </property>
        <!--输出运行时生成的SQL语句-->
        <property name="show_sql">
            true
        </property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQL8Dialect
        </property>
        <mapping class="win.zhangzhixing.model.entity.User"/>
    </session-factory>
</hibernate-configuration>